<div class="featurette" id="sec2">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>About the App</h1>
      </div>
    </div>
    <p>When getting a meal with a few friends of colleagues, the distance and travel time to a restaurant is often a main concern, whether it is a quick lunch break from work, or a dash for food between classes. There are many cases where individuals in a group are in different initial locations, and often times they try to find a common ground where a restaurant is closest to all of them.</p>
    <p>Our application aims to find the optimal distance and travel time to a restaurant for a group of people. Optimal distance and travel time includes the absolute distance from the restaurant, and the modes of transport taken by individuals. For example, if two people are trying to find a restaurant to eat that will them both roughly the same amount of time to reach, and one has a bicycle and the other is walking, the restaurant chosen should be closer to the person that is walking.</p>
</p>
  </div>
</div>