<!-- Embed the layout.ejs file -->
<% layout( 'layout' ) -%>


<head>
  <script>
    $(document).ready(function() {

      // Upon click of the AJAX request...
      $("#submit").click(function() {
        // Fetch some data from the server via an AJAX
        // call.

        var password1 = $("#password1").val();
        var password2 = $("#password2").val();
        password1 = password1.trim();
        password2 = password2.trim();
        if (password1.length != 0 && password1 === password2) {
          if (password1.length > 30) {
            $("#error").text("Passwords can be at most 30 characters.");
            $("#error").css('color', 'red');
          }
          else {
            var info = {"password": password1};
            $.post("/edit_pass", info,function(data, status) {
                if (data == "success")
                  // go to home page
                  location.href = "/user_profile";
                else if (data == "failure") {
                  $("#error").text("Invalid Password.");
                  $("#error").css('color', 'red');
                }
            });
          }
        }
        else {
          // $("#error").text("Fields Entered Incorrectly.");
       //    $("#error").css('color', 'red');
          if (password1.length != 0 && password2.length != 0) {
            $("#error").text("Passwords must match.");
            $("#error").css('color', 'red');
          }
          else {
            $("#error").text("All Fields Must Be Filled.");
            $("#error").css('color', 'red');
          }
        }
      });

      // Upon click of the AJAX request...
      $("#back_to_profile").click(function() {
        // Fetch some data from the server via an AJAX
        // call.
        location.href = "/user_profile"
      });

      // Upon click of the AJAX request...
      $("#logout").click(function() {
        $.get("/logout", function(data, status) {

          location.href = "/login"

          });
      });
    });
  </script>
</head>

<!-- New Password:<br>
<input type="password" id="password1">
<br><br>
Enter Again:<br>
<input type="password" id="password2">
<br> -->


<!--
  <br>
  <button id="submit">Submit New Password</button>
  <br><br>
  <button id="back_to_profile">Back to Profile Without Saving Changes</button><br>
  <span id="data"></span>
  <br>
  <span id="error"></span>
 -->


<body>
  <% include navbar_logged_in %>
  <div class="header alt vert" style="height: none">
    <div class="container text-center">

      <h1>Find Your Food</h1>
      <p class="lead">A Yelp Webapp for Finding Food for Your Group!</p>
      <div>&nbsp;</div>

      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <div class="featurette-item">
            <h2>Change Password</h2>
            <h4>New Password</h4>
            <input class="form-control" type="password" id="password1">
            <h4>Enter again</h4>
            <input class="form-control" type="password" id="password2">
            <button class="btn btn-default" id="submit">Submit New Password</button>
          </div>
        </div>
      </div>

      <button class="btn btn-default" id="back_to_profile">Back to Profile Without Saving Changes</button>
      <span id="data"></span>
      <br>
      <span id="error"></span>
    </div>
  </div>
</body>