<!-- Embed the layout.ejs file -->
<% layout( 'layout' ) -%>


<head></head> 
Current First Name:<br>
<br><br>
Current Last Name:<br>
<br><br>
New First Name:<br>
<input type="text" id="first_name"> 
<br><br>
New Last Name:<br>
<input type="text" id="last_name"> 
<br>

<script>
	
  $(document).ready(function() {
  	
  	// Upon click of the AJAX request...
  	$("#submit").click(function() {
  		// Fetch some data from the server via an AJAX
  		// call.  
  		
  		var password1 = $("#password1").val(); 
  		var password2 = $("#password2").val();
  		password1 = password1.trim(); 
  		password2 = password2.trim();
  		if (password1.length != 0 && password1 === password2) { 
        var info = {"password": password1}; 
        $.post("/edit_pass", info,function(data, status) {
            // go to home page 
            location.href = "/user_profile";
        });         
  		}
  		else { 
  			// $("#error").text("Fields Entered Incorrectly.");
     //    $("#error").css('color', 'red');
        if (password1.length != 0 && password2.length != 0) {
          $("#error").text("Passwords must match.");
          $("#error").css('color', 'red');
        }
        else {
          $("#error").text("All Fields Must Be Filled.");
          $("#error").css('color', 'red');
        }
  		}
    });

    // Upon click of the AJAX request...
    $("#back_to_profile").click(function() {
      // Fetch some data from the server via an AJAX
      // call.  
      location.href = "/user_profile"
    });

  });
</script>

  <br>
  <button id="submit">Submit New Password</button>
  <br><br>
  <button id="back_to_profile">Back to Profile Without Saving Changes</button><br>
  <span id="data"></span>
  <br>
  <span id="error"></span> 