<!-- Embed the layout.ejs file -->
<% layout( 'layout' ) -%>


<head></head> 
Current Label:<br>
<% address_label -%><br><br>
Current Address:<br>
<% address -%><br><br>
New Label:<br>
<input type="text" id="address_label"> 
<br><br>
New Address:<br>
<input type="text" id="address"> 
<br>

<script>
  
  $(document).ready(function() {
    
    // Upon click of the AJAX request...
    $("#submit").click(function() {
      // Fetch some data from the server via an AJAX
      // call.  
      
      var address_label = $("#address_label").val(); 
      var address = $("#address").val();
      address_label = address_label.trim(); 
      address = address.trim();
      if (address_label.length != 0 && address.length != 0) { 
        var info = {"address":address, "address_label":address_label}; 
        $.post("/edit_address", info,function(data, status) {
            if (data == "success")
            // go to home page 
            location.href = "/home";
            else if (data == "failure") {
              $("#error").text("Invalid address.");
              $("#error").css('color', 'red');
            } 
        });         
      }
      else { 
        $("#error").text("All Fields Must Be Filled.");
        $("#error").css('color', 'red');
      }
    });

    // Upon click of the AJAX request...
    $("#back_to_profile").click(function() {
      // Fetch some data from the server via an AJAX
      // call.  
      location.href = "/user_profile"
    });

    $("#address_to_lat_and_lon_tester").click(function() {
        var address = $("#address").val();
        address = address.trim();
        var info = {"address":address}; 
       $.post("/address_to_lat_and_lon_tester", info,function(data, status) {
            // go to home page 
            location.href = "/home";            
        }); 
    });

  });
</script>

  <br>
  <button id="submit">Submit New Address</button>
  <br><br>
  <button id="back_to_profile">Back to Profile Without Saving Changes</button><br>
<!--   <button id="address_to_lat_and_lon_tester">Test address to lat and lon</button><br> -->
  <span id="data"></span>
  <br>
  <span id="error"></span> 