<!-- Embed the layout.ejs file -->
<% layout( 'layout' ) -%>


<head>
  <script>
    $(document).ready(function() {
      // Upon click of the AJAX request...
      $("#submit").click(function() {
        // Fetch some data from the server via an AJAX
        // call.
        var first_name = $("#first_name").val();
        var last_name = $("#last_name").val();
        first_name = first_name.trim();
        last_name = last_name.trim();
        if (first_name.length != 0 && last_name.length != 0) {
          if (first_name.length > 20) {
          $("#error").text("First names can be at most 20 characters.");
          $("#error").css('color', 'red');
          }
          else if (last_name.length > 20) {
            $("#error").text("Last names can be at most 20 characters.");
            $("#error").css('color', 'red');
          }
          else {
            var info = {"first_name": first_name, "last_name": last_name};
            $.post("/edit_name", info,function(data, status) {
               if (data == "success")
               // go to home page
               location.href = "/user_profile";
               else if (data == "failure") {
                 $("#error").text("Invalid name.");
                 $("#error").css('color', 'red');
               }
            });
          }
        }
        else {
          $("#error").text("All Fields Must Be Filled.");
          $("#error").css('color', 'red');
        }
      });

      // Upon click of the AJAX request...
      $("#back_to_profile").click(function() {
        // Fetch some data from the server via an AJAX
        // call.
        location.href = "/user_profile"
      });

      // Upon click of the AJAX request...
      $("#logout").click(function() {
        $.get("/logout", function(data, status) {

          location.href = "/login"

          });
      });
    });
  </script>
</head>

<body>
  <% include navbar_logged_in %>
  <div class="header alt vert" style="height: 100%">
    <div class="container text-center">

      <h1>Find Your Food</h1>
      <p class="lead">A Yelp Webapp for Finding Food for Your Group!</p>
      <div>&nbsp;</div>

      <div class="row">
        <div class="col-md-6 text-center">
          <div class="featurette-item">
            <h2>Current Name</h2>
            <h4>First Name:</h4>
            <h5><%= first_name %></h5>
            <h4>Last Name:</h4>
            <h5><%= last_name %></h5>
          </div>
        </div>
        <div class="col-md-6 text-center">
          <div class="featurette-item">
            <h2>Change Name</h2>
            <h4>New First Name</h4>
            <input class="form-control" type="text" id="first_name">
            <h4>New Last Name</h4>
            <input class="form-control" type="text" id="last_name">
            <button class="btn btn-default" id="submit">Submit New Name</button>
          </div>
        </div>
      </div>

      <button class="btn btn-default" id="back_to_profile">Back to Profile Without Saving Changes</button>
      <span id="data"></span>
      <br>
      <span id="error"></span>
    </div>
  </div>
</body>

<!--
Current First Name:<br>
<%= first_name %><br><br>
Current Last Name:<br>
<%= last_name %><br><br>
New First Name:<br>
<br><br>
New Last Name:<br>
<input type="text" id="last_name">
<br>


  <br>
  <button id="submit">Submit New Name</button>
  <br><br>
  <button id="back_to_profile">Back to Profile Without Saving Changes</button><br>
  <span id="data"></span>
  <br>
  <span id="error"></span> -->