<!-- Embed the layout.ejs file -->
<% layout( 'layout' ) -%>


<head>
  <script>
    $(document).ready(function() {

      // Upon click of the AJAX request...
      $("#submit").click(function() {
        // Fetch some data from the server via an AJAX
        // call.

        var address_label = $("#address_label").val();
        var address = $("#address").val();
        address_label = address_label.trim();
        address = address.trim();
        if (address_label.length != 0 && address.length != 0) {
          if (address_label.length > 20) {
            $("#error").text("Address labels can be at most 20 characters.");
            $("#error").css('color', 'red');
          }
          else if (address.length > 150) {
            $("#error").text("Addresses can be at most 150 characters.");
            $("#error").css('color', 'red');
          }
          else {
            var info = {"address":address, "address_label":address_label};
            $.post("/edit_address", info,function(data, status) {
                if (data == "success")
                // go to home page
                location.href = "/user_profile";
                else if (data == "failure") {
                  $("#error").text("Invalid address.");
                  $("#error").css('color', 'red');
                }
            });
          }
        }
        else {
          $("#error").text("All Fields Must Be Filled.");
          $("#error").css('color', 'red');
        }
      });

      // Upon click of the AJAX request...
      $("#back_to_profile").click(function() {
        // Fetch some data from the server via an AJAX
        // call.
        location.href = "/user_profile"
      });

      $("#address_to_lat_and_lon_tester").click(function() {
          var address = $("#address").val();
          address = address.trim();
          var info = {"address":address};
         $.post("/address_to_lat_and_lon_tester", info,function(data, status) {
              // go to home page
              location.href = "/home";
          });
      });

      // Upon click of the AJAX request...
      $("#logout").click(function() {
        $.get("/logout", function(data, status) {

          location.href = "/login"

          });
      });
    });
  </script>
</head>


<!-- Current Label:<br>
<%= address_label %><br><br>
Current Address:<br>
<%= address %><br><br>
New Label:<br>
<input type="text" id="address_label">
<br><br>
New Address:<br>
<input type="text" id="address">
<br>
 -->


<!--   <br>
  <button id="submit">Submit New Address</button>
  <br><br>
  <button id="back_to_profile">Back to Profile Without Saving Changes</button><br>
  <button id="address_to_lat_and_lon_tester">Test address to lat and lon</button><br>
  <span id="data"></span>
  <br>
  <span id="error"></span>
 -->


<body>
  <% include navbar_logged_in %>
  <div class="header alt vert" style="height: 100%">
    <div class="container text-center">

      <h1>Find Your Food</h1>
      <p class="lead">A Yelp Webapp for Finding Food for Your Group!</p>
      <div>&nbsp;</div>

      <div class="row">
        <div class="col-md-6 text-center">
          <div class="featurette-item">
            <h2>Current Address</h2>
            <h4>Label:</h4>
            <h5><%= address_label %></h5>
            <h4>Address:</h4>
            <h5><%= address %></h5>
          </div>
        </div>
        <div class="col-md-6 text-center">
          <div class="featurette-item">
            <h2>Change Address</h2>
            <h4>New Label</h4>
            <input class="form-control" type="text" id="address_label">
            <h4>New Address</h4>
            <input class="form-control" type="text" id="address">
            <button class="btn btn-default" id="submit">Submit New Address</button>
          </div>
        </div>
      </div>

      <button class="btn btn-default" id="back_to_profile">Back to Profile Without Saving Changes</button>
      <span id="data"></span>
      <br>
      <span id="error"></span>

    </div>
  </div>
</body>