<!-- Embed the layout.ejs file -->
<% layout( 'layout' ) -%>

Group ID: 
<br> 
<br> 

<head></head> 

Group Members:

<ul>
  <% for(var i=0; i< memberNames.length; i++) {%>
    <li><%= memberNames[i] %></li>
  <% } %>
</ul>
