-<!-- Embed the layout.ejs file -->
-<% layout( 'layout' ) -%>
-
-Group ID: 
-<br> 
-<br> 
-
-<head></head> 
-
-Group Members:
-
-<ul>
-  <% for(var i=0; i< members.length; i++) {%>
-    <li><%= members[i] %></li>
-  <% } %>
-</ul>
