<!-- Embed the layout.ejs file -->
<% layout( 'layout' ) -%>


<head></head> 

Groups:<br>
<ul>
<% if (groups != null) for(var i=0; i<groups.length; i++) {%>
   <li><a href="/group?id=<%= groups[i] %>") ><%= groups[i] %></a></li>
<% } %>
</ul><br>

<script>
	$(document).ready(function() {
  	
  	// Upon click of the AJAX request...
  	$("#create_group").click(function() {
  	
  		
  	});

  	// Upon click of the AJAX request...
  	$("#user_profile").click(function() {
  		location.href = "/user_profile";
  	});
  	
  });

</script>


<button id="create_group">Create New Group</button>
<br><br>
<button id="user_profile">Edit Profile</button>
