<!-- Embed the layout.ejs file -->
<% layout( 'layout' ) -%>


<head></head> 

Groups:<br>
<ul>
<% for(var i=0; i<groups.length; i++) {%>
   <li><a href="/group?id=<%= groups[i] %>") ><%= groups[i] %></a></li>
<% } %>
</ul>

<br>
<a href="/user_profile">Edit Profile</a>