<!-- Embed the layout.ejs file -->
<% layout( 'layout' ) -%>


<head></head> 

Groups:<br>

<ul id="gList">
<% if (groups != null) {%>
<% for(var i=0; i<groups.length; i++) {%>
   <li><a href="/group?groupID=<%= groups[i] %>" id="el<%= i %>") ><span id="group<%= groups[i] %>"></span></a></li>
<% } %>
<% } %> 
</ul>


<script>
	$(document).ready(function() {
  	numEl = $("#gList li").length;
    for (var i=0; i<numEl; i++) { 
      var pathEl = $("#el" + i).attr('href'); 
      var gID = pathEl.substring(pathEl.indexOf('=') + 1);
      $.get("/get_group_name?groupID=" + gID, function(data, status) {
          var name = data[0]; 
          var id = data[1];  
          $("#group" + id).text(name);
        }); 
    }

  	// Upon click of the AJAX request...
  	$("#submit").click(function() {
      var groupName = $("#group_name").val(); 
      groupName = groupName.trim(); 
      if (groupName.length != 0) {
        $.get("/create_group?groupName=" + groupName, function(data, status) { 

          var groupId = data; 
          $.get("/group?groupID=" + groupId, function(data, status) {
          }); 

          }); 
      } 
      else {
        $("#error").text("New Group Name Must be filled.");
        $("#error").css('color', 'red');
      }

  	});

  	// Upon click of the AJAX request...
  	$("#logout").click(function() {
      $.get("/logout", function(data, status) { 

        location.reload(); 

        }); 


  	}); 


  	
  });

</script>

New Group Name: 
<br>
<input type="text" id="group_name"> 
<br>
<button id="submit">Create new group</button>
<br>
<a href="/user_profile">Edit Profile</a>
<br>
<button id="logout">Logout</button> 
<br> 
<span id="error"></span>

