  <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <script language="JavaScript" src="http://www.geoplugin.net/javascript.gp" type="text/javascript"></script>
  <title><%= title %></title>
  
</head>

  <body>
  <div class="container">
  
  <!-- embed the header -->
	<% include header %>

  <!-- embed the body of the page (specified by the referrer when it calls layout()) -->
    <%- body %>

  <!-- embed the footer -->
	<% include footer %>
  </div>
  </body>
</html>