<!-- Embed the layout.ejs file -->
<% layout( 'layout' ) -%>


<head>
  <script>
    $(document).ready(function() {

      if (location.pathname != '/login')
        location.pathname = '/login';

      // Upon click of the AJAX request...
      $("#submit").click(function() {
        // Fetch some data from the server via an AJAX
        // call.

        var username = $("#username").val();
        var password = $("#password").val();
        username = username.trim();
        password = password.trim();
        if (username.length != 0 && password.length != 0) {
          var info = {"username": username, "password": password};

          $.post("/check_username", info,function(data, status) {
              // go to home page
              if (data == "success") {
                $.post("/check_pass", info,function(data, status) {
                // go to home page
                if (data == "success")
                  location.href = "/home";
                else if (data == "failure") {
                  $("#error").text("Incorrect Password");
                  $("#error").css('color', 'red');
                }
                });
              }
              else if (data == "failure") {
                $("#error").text("Not a valid username.");
                $("#error").css('color', 'red');
              }
          });
        }
        else {
          $("#error").text("All Fields Must be filled.");
          $("#error").css('color', 'red');
        }
      });

    });
  </script>


</head>

<body>

  <% include navbar_basic %>

  <div class="header alt vert">
    <div class="container text-center">

      <h1>Find Your Food</h1>
        <p class="lead">A Yelp Webapp for Finding Food for Your Group!</p>
        <div>&nbsp;</div>

        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" id="username" placeholder="Enter username" class="form-control" autofocus>
        <input type="password" id="password" placeholder="Enter password" class="form-control">
        <div>
          <button class="btn btn-default" id="submit" type="submit">Sign in</button>
        </div>
        <div>
          <a href="/signup">Create an account</a>
        </div>
        <div>
          <span id="data"></span>
        </div>
        <div>
          <span id="error"></span>
        </div>
    <!--
    Username:<br>
    <input type="text" id="username">
    <br><br>
    Password:<br>
    <input type="password" id="password">
    <br><br>
    <button id="submit">Login</button>
    <br>
    <a href="/signup">Create an account</a>
    <span id="data"></span>
    <br>
    <span id="error"></span>
   -->

    </div>
  </div>

  <% include about %>
</body>
