<!-- Embed the layout.ejs file -->
<% layout( 'layout' ) -%>


<head>
  <script>
    $(document).ready(function() {

      if (location.pathname != '/login')
        location.pathname = '/login';

      // Upon click of the AJAX request...
      $("#submit").click(function() {
        // Fetch some data from the server via an AJAX
        // call.

        var username = $("#username").val();
        var password = $("#password").val();
        username = username.trim();
        password = password.trim();
        if (username.length != 0 && password.length != 0) {
          var info = {"username": username, "password": password};

          $.post("/check_username", info,function(data, status) {
              // go to home page
              if (data == "success") {
                $.post("/check_pass", info,function(data, status) {
                // go to home page
                if (data == "success")
                  location.href = "/home";
                else if (data == "failure") {
                  $("#error").text("Incorrect Password");
                  $("#error").css('color', 'red');
                }
                });
              }
              else if (data == "failure") {
                $("#error").text("Not a valid username.");
                $("#error").css('color', 'red');
              }
          });
        }
        else {
          $("#error").text("All Fields Must be filled.");
          $("#error").css('color', 'red');
        }
      });

    });
  </script>


</head>

<body>

	<div
	  class="fb-like"
	  data-share="true"
	  data-width="450"
	  data-show-faces="true">
	</div>

  <div id="fb-root"></div>
	<script>
	(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=1381120492218478";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));

	function get_fb_id() {
    FB.api('/me', function(data) {
      var info = {"fb_id": data.id};
      $.post("/get_fb_user_username", info,function(data, status) {
        // go to home page
        if (data == "success") {
          location.href = "/home";
        }
        else if (data == "failure") {
          location.href = "/signup";
        }
  		}); 
    });
  }

  function check_if_logged_in() {
    FB.getLoginStatus(function(data) {
      if (data.status === 'connected') {
        get_fb_id();
      } 
      else 
      {
        fb_login();
      }
    });
  }

  function fb_login() {
    FB.login(function(data) {
       get_fb_id();
    });
  }
	</script>

  <% include navbar_basic %>

  <div class="header alt vert">
    <div class="container text-center">

      <h1>Find Your Food</h1>
        <p class="lead">A Yelp Webapp for Finding Food for Your Group!</p>
        <div>&nbsp;</div>

        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" id="username" placeholder="Enter username" class="form-control" autofocus>
        <input type="password" id="password" placeholder="Enter password" class="form-control">
        <div>
          <button class="btn btn-default" id="submit" type="submit">Sign in</button>
        </div>
        <div>
          <a href="/signup">Create an account</a>
          <span id="data"></span>
        </div>
        <div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="false" onlogin="check_if_logged_in();"></div>
        <div>
          <span id="error"></span>
        </div>
    <!--
    Username:<br>
    <input type="text" id="username">
    <br><br>
    Password:<br>
    <input type="password" id="password">
    <br><br>
    <button id="submit">Login</button>
    <br>
    <a href="/signup">Create an account</a>
    <span id="data"></span>
    <br>
    <span id="error"></span>
   -->

    </div>
  </div>

  <% include about %>
</body>
