<!-- Embed the layout.ejs file -->
<% layout( 'layout' ) -%>

Results
<br>
<br>

<head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <style>
    html, body, #map-canvas {
      height: 100%;
      margin: 0px;
      padding: 0px
    }
    #panel {
      position: absolute;
      top: 5px;
      left: 50%;
      margin-left: -180px;
      z-index: 5;
      background-color: #fff;
      padding: 5px;
      border: 1px solid #999;
    }
  </style>
  <style>
    #directions-panel {
      height: 100%;
      float: right;
      width: 390px;
      overflow: auto;
      background: #CDBAE5;
      padding: 10px;
    }

    #map-canvas {
      margin-right: 400px;
    }

    #control {
      background: #fff;
      padding: 5px;
      font-size: 14px;
      font-family: Arial;
      border: 1px solid #ccc;
      box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
      display: none;
    }

    @media print {
      #map-canvas {
        height: 500px;
        margin: 0;
      }

      #directions-panel {
        float: none;
        width: auto;
      }
    }
  </style>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4LFZsM7O-BDw0Sgr-7Mbn45kCF7YOUyQ">
  </script>

  <script type="text/javascript">
    var members = <%- members %>;
    var restaurants = <%- restaurants %>;
    var current_user = get_logged_in_user(members);

    var time_convert = {'walk': 1.0, 'bike': 0.4, 'car': 0.3}

    function taxicab_distance(firstLat, firstLong, secondLat, secondLong) {
      return Math.abs(firstLat - secondLat) + Math.abs(firstLong - secondLong);
    }

    function get_logged_in_user(members) {
      for (var i = 0; i < members.length; i++) {
        if (members[i]['is_logged_in'] === "true") {
          return members[i];
        }
      }
    }

    function get_relative_time(restaurant) {
      var lat = restaurant['LAT'];
      var lon = restaurant['LON'];
      var total = 0;

      for (var i = 0; i < members.length; i++) {
        // console.log(members[i]);
        // console.log(lat, lon, members[i]['LAT'], members[i]['LON']);
        var time = time_convert[members[i]['transport']] * taxicab_distance(lat, lon, members[i]['LAT'], members[i]['LON']);
        total += time;
      }

      // console.log(restaurant['name'], total);
      return total;
    }

    function compare(a,b) {
      if (a['score'] < b['score'])
         return -1;
      if (a['score'] > b['score'])
        return 1;
      return 0;
    }

    function calculate_restaurants() {
      var minStars = restaurants[0]['STARS'];
      var maxStars = restaurants[0]['STARS'];
      var minTime = Number.MAX_VALUE;
      var maxTime = 0;
      var newRestaurants = []

      // Filter by stars
      var filterStars = parseFloat($( '#stars' ).val());
      for (var i = 0; i < restaurants.length; i++) {
        if (restaurants[i]['STARS'] >= filterStars) {
          newRestaurants.push(restaurants[i]);
        }
      }

      // Algorithm preferences
      var pref = $( "#preference" ).val();
      var multiplier = 0.5;
      if (pref === 'distance') {
        multiplier = 0.7;
      } else if (pref === 'stars') {
        multiplier = 0.3;
      }

      for (var i = 0; i < newRestaurants.length; i++) {
        var time = get_relative_time(newRestaurants[i]);

        if (time < minTime) {
          minTime = time;
        }
        if (time > maxTime) {
          maxTime = time;
        }
        if (newRestaurants[i]['STARS'] > maxStars) {
          maxStars = newRestaurants[i]['STARS'];
        }
        if (newRestaurants[i]['STARS'] < minStars) {
          minStars = newRestaurants[i]['STARS'];
        }

        newRestaurants[i]['time'] = time;
      }

      for (var i = 0; i < newRestaurants.length; i++) {
        var adjusted_time = (maxStars - minStars) * (newRestaurants[i]['time'] - minTime) / (maxTime - minTime);
        newRestaurants[i]['score'] = -1 * (1 - multiplier) * newRestaurants[i]['STARS'] + multiplier * adjusted_time;
        newRestaurants[i]['ADDRESS'] = newRestaurants[i]['ADDRESS'].replace(/(\r\n|\n|\r)/gm," ")
      }

      newRestaurants.sort(compare);

      return newRestaurants;
    }

    var directionsDisplay;
    var directionsService = new google.maps.DirectionsService();

    function initialize() {
      var newRestaurants = calculate_restaurants(restaurants);

      // Filter by number of restaurants
      var numResults = Math.min(newRestaurants.length, $( "#number" ).val())

      for (var i = 0; i < numResults; i++) {
        $( "#end" ).append( '<option value="' + newRestaurants[i]['ADDRESS'] + '">' + newRestaurants[i]['NAME'] + '</option>' );

        var restData = "<div class='col-md-12'>" +
          "<div class='featurette-item'>" +
            "<h4>Restaurant Name</h4>" +
            "<h5>" + newRestaurants[i]['NAME'] + "</h5>" +
            "<h4>Restaurant Address</h4>" +
            "<h5>" + newRestaurants[i]['ADDRESS'] + "</h5>" +
            "<h4>Restaurant Stars</h4>" +
            "<h5>" + newRestaurants[i]['STARS'] + "</h5>" +
          "</div>"
        "</div>"
        $( "#restaurantResults" ).append(restData);

      }
      directionsDisplay = new google.maps.DirectionsRenderer();
      var mapOptions = {
        zoom: 7,
        center: new google.maps.LatLng(current_user['LAT'], current_user['LON'])
      };
      var map = new google.maps.Map(document.getElementById('map-canvas'),
          mapOptions);
      directionsDisplay.setMap(map);
      directionsDisplay.setPanel(document.getElementById('directions-panel'));

      var control = document.getElementById('control');
      control.style.display = 'block';
      map.controls[google.maps.ControlPosition.TOP_CENTER].push(control);
    }

    function calcRoute() {
      var selectedMode = document.getElementById('mode').value;
      var start = get_logged_in_user(members)['ADDRESS'];
      var end = document.getElementById('end').value;
      var request = {
        origin: start,
        destination: end,
        travelMode: google.maps.TravelMode[selectedMode]
      };
      directionsService.route(request, function(response, status) {
        if (status == google.maps.DirectionsStatus.OK) {
          directionsDisplay.setDirections(response);
        }
      });
    }

    function calculateRestaurants() {
      $( "#restaurantResults" ).empty();
      var directionsDisplay;
      var directionsService = new google.maps.DirectionsService();
      initialize();
      google.maps.event.addDomListener(window, 'load', initialize);
    }


    google.maps.event.addDomListener(window, 'load', initialize);

    if (current_user['transport'] === 'walk') {
      console.log("hello");
      $("select#mode").val("WALKING");
    } else if (current_user['transport'] === 'bike') {
      console.log("hello world");
      $("select#mode").val("BICYCLING");
    } else if (current_user['transport'] === 'car') {
      console.log("hi world");
      $("select#mode").val("DRIVING");
    }

    $(document).ready(function() {
      $("#error").text("All Fields Must be filled.");
      $("#error").css('color', 'red');

      $( "#username" ).html(current_user['USERNAME']);
      $( "#firstlastname" ).html(current_user['FIRST_NAME'] + " " + current_user['LAST_NAME']);
      $( "#address" ).html(current_user['ADDRESS']);
      $( "#modetransport" ).html(current_user['transport']);


      // Upon click of the AJAX request...
      $("#logout").click(function() {
        $.get("/logout", function(data, status) {

          location.href = "/login"

          });
      });
    });

  </script>
</head>


<body>
  <% include navbar_logged_in %>
  <div class="header alt vert">
    <div class="container center-text">
      <h1>Find Your Food</h1>
      <p class="lead">A Yelp Webapp for Finding Food for Your Group!</p>
      <div>&nbsp;</div>

      <div class="row">
        <div class="col-md-6 text-center">
          <div class="featurette-item">
            <h2>Your Information</h2>
            <h4>Username</h4>
            <h5 id="username"></h5>
            <h4>Name</h4>
            <h5 id="firstlastname"></h5>
            <h4>Address</h4>
            <h5 id="address"></h5>
            <h4>Mode of transport</h4>
            <h5 id="modetransport"></h5>
          </div>
        </div>
        <div class="col-md-6 text-center">
          <div class="featurette-item">
            <h2>Filtering Options</h2>

            <div>
              <h4>Number of results to display</h4>
              <input value="5" class="form-control" type="number" id="number" onchange="calculateRestaurants();">
            </div>

            <div>
              <h4>Filter by number of stars</h4>
              <select id="stars" onchange="calculateRestaurants();">
                <option value="0">At least 0.0 stars</option>
                <option value="0.5">At least 0.5 stars</option>
                <option value="1.0">At least 1.0 stars</option>
                <option value="1.5">At least 1.5 stars</option>
                <option value="2.0">At least 2.0 stars</option>
                <option value="2.5">At least 2.5 stars</option>
                <option value="3.0">At least 3.0 stars</option>
                <option value="3.5">At least 3.5 stars</option>
                <option value="4.0">At least 4.0 stars</option>
                <option value="4.5">At least 4.5 stars</option>
                <option value="5.0">At least 5.0 stars</option>
              </select>
            </div>

            <div>
              <h4>Select ranking preference</h4>
              <select id="preference" onchange="calculateRestaurants();">
                <option value="distance">Prefer less distance</option>
                <option value="stars">Prefer better restaurants</option>
                <option value="combo">Prefer combination</option>
              </select>
            </div>

          </div>
        </div>
      </div>

      <h2 style="color:#eee; font-size: 40px;">List of Restaurants</h2>
      <div id="restaurantResults" class="row">

      </div>

    </div>
  </div>
  <div id="control">
    <strong>Restaurant:</strong>
    <select id="end" onchange="calcRoute();">
    </select>
    <select id="mode" onchange="calcRoute();">
      <option id="walk" value="WALKING">Walking</option>
      <option id="car" value="DRIVING">Driving</option>
      <option id="bike" value="BICYCLING">Bicycling</option>
    </select>
  </div>
  <div id="directions-panel"></div>
  <div id="map-canvas"></div>
</body>