<!-- Embed the layout.ejs file -->
<% layout( 'layout' ) -%>

Results
<br> 
<br> 

<head></head> 

<script>
	
  $(document).ready(function() {
  		 
  			$("#error").text("All Fields Must be filled.");
  			$("#error").css('color', 'red');
  	
  });
  
</script>

  <span id="data"></span>
  <br>
  <span id="error"></span> 
    </div>