<!-- Embed the layout.ejs file -->
<% layout( 'layout' ) -%>


<head></head> 

Username:<br>
<input type="text" id="username"> 
<br><br>
Password:<br>
<input type="password" id="password"> 
<br><br>
First Name:<br>
<input type="text" id="first_name"> 
<br><br>
Last Name:<br>
<input type="text" id="last_name"> 
<br><br>
Address:<br>
<input type="text" id="address"> 
<br><br>
Address Label:<br> 
<input type="text" id="label"> 
<br><br>

<script>
	
  $(document).ready(function() {
  	
  	// Upon click of the AJAX request...
  	$("#submit").click(function() {
  		// Fetch some data from the server via an AJAX
  		// call.  
  		
  		var username = $("#username").val(); 
  		var password = $("#password").val();
  		var address = $("#address").val();  
      var first_name = $("#first_name").val(); 
      var last_name = $("#last_name").val(); 
      var label = $("#label").val(); 
  		username = username.trim(); 
  		password = password.trim();
  		address = address.trim(); 
      first_name = first_name.trim(); 
      last_name = last_name.trim(); 
      label = label.trim(); 
  		if (username.length != 0 && password.length != 0 && address.length != 0 
        && label.length != 0 && first_name.length != 0 && last_name.length != 0) { 
        var info = {"username": username, "password": password, "address": 
          address, "label": label, "first_name": first_name, "last_name": last_name};
          
        $.post("/create_user", info,function(data, status) {
            if (data == "success")
            // go to home page 
            location.href = "/home";
            else if (data == "failure") {
              $("#error").text("Invalid address.");
              $("#error").css('color', 'red');
            }            
        }); 


  		}
  		else { 
  			$("#error").text("All Fields Must be filled.");
  			$("#error").css('color', 'red');
  		}
  	});
  	
  });
  
</script>

  <button id="submit">Create Account</button>
  <br>
  <a href="/login">Already have an account?</a>
  <span id="data"></span>
  <br>
  <span id="error"></span> 
    </div>