// Basic Jade specification for querying for an actor
// Inherits from layout 
extend layout
// Then we produce a form that triggers /actor once
// the user hits Submit
block content
  p
    form(method='get', action='/test')
      input(type='submit', value='test button')
      
