<!-- Embed the layout.ejs file -->
<% layout( 'layout' ) -%>

<button id="change_password" >Change Password</button><br><br>
<button id="change_address"  >Change Address</button><br><br>
<button id="back_to_homepage">Back to Homepage</button><br>

<script>
	
  $(document).ready(function() {
  	
  	// Upon click of the AJAX request...
  	$("#change_password").click(function() {
  		// Fetch some data from the server via an AJAX
  		// call.  
  		location.href = "/change_password"
  	});

  	// Upon click of the AJAX request...
  	$("#change_address").click(function() {
  		// Fetch some data from the server via an AJAX
  		// call.  
  		location.href = "/change_address"
  	});

  	// Upon click of the AJAX request...
  	$("#back_to_homepage").click(function() {
  		// Fetch some data from the server via an AJAX
  		// call.  
  		location.href = "/home"
  	});
  	
  });
</script>

  <span id="data"></span>
  <br>
  <span id="error"></span> 
    </div>